.margin-space-bottom-60 {
    margin-bottom: 60px;
}

.fantasy-scroll {
    max-height: 100px;
    overflow: scroll;
}

.football-player-list-scroll, .history-list-scroll {
    max-height: 600px;
    overflow: scroll;
}